body {
  background-color: #282c34;
  font-family: "Arial Black";
}

.App {
  text-align: center;
  color: white;
}

.App-logo {
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.submission {
  margin-bottom: 8px;
}

.submission span {
  font-family: "Arial Black";
  font-size: 32px;
  padding: 4px;
  margin: 4px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button, input {
  font-size: 16px;
  padding: 4px;
}

.alphabet-box {
  width: 170px;
  align-content: center;
  margin: auto;
  overflow-wrap: break-word;
  line-height: 30px;
  font-size: 20px;
}

.alphabet-letters {
  margin: 4px;
  font-weight: bold;
  padding: 2px;
}
